<% include header.html %>


<div class="row main">
<div class="container"> 
  <div class="col-md-4">
   <div class="docs-sidebar" role="complementary">
    <ul class="nav docs-sidenav"> 
      <li class="active"> <a href="/intro/index.html">What is Serf?</a> </li> 
      <li> <a href="/intro/use-cases.html">Use Cases</a> </li> 
      <li> <a href="/intro/vs-other-sw.html">Serf vs. Other Software</a> <ul class="nav"> <li> <a href="/intro/vs-zookeeper.html">ZooKeeper, doozerd, etcd</a> </li>
       <li> <a href="/intro/vs-chef-puppet.html">Chef, Puppet, etc.</a> </li> 
       <li> <a href="/intro/vs-fabric.html">Fabric</a> </li> 
       <li> <a href="/intro/vs-consul.html">Consul</a> </li>
        <li> <a href="/intro/vs-custom.html">Custom Solutions</a> </li>
         </ul> </li>
          <li> <a href="/intro/getting-started/install.html">Getting Started</a>
           <ul class="nav">
            <li> <a href="/intro/getting-started/install.html">Install Serf</a> </li>
             <li> <a href="/intro/getting-started/agent.html">Run the Agent</a> </li>
              <li> <a href="/intro/getting-started/join.html">Join a Cluster</a> </li>
               <li> <a href="/intro/getting-started/event-handlers.html">Event Handlers</a> </li>
                <li> <a href="/intro/getting-started/user-events.html">Custom User Events</a> </li> 
                <li> <a href="/intro/getting-started/queries.html">Custom Queries</a> </li>
                 <li> <a href="/intro/getting-started/next-steps.html">Next Steps</a> </li> 
               </ul>
                </li> 
              </ul>
               </div> 
             </div>
              <div class="col-md-8" role="main"> 
                <div class="bs-docs-section"> 
                  <h1 id="toc_0">Introduction to Serf</h1>
                   <p>Welcome to the intro guide to Serf! This guide will show you what Serf is, explain the problems Serf solves, compare Serf versus other similar software, and show how easy it is to actually use Serf. If you're already familiar with the basics of Serf, the <a href="/docs/">documentation</a> provides more of a reference for all available features.</p> 
                   <h2 id="toc_1">What is Serf?</h2> 
                   <p>Serf is a tool for cluster membership, failure detection, and orchestration that is decentralized, fault-tolerant and highly available. Serf runs on every major platform: Linux, Mac OS X, and Windows. It is extremely lightweight: it uses 5 to 10 MB of resident memory and primarily communicates using infrequent UDP messages.</p>
                  </div>
                 </div>
   </div>
</div> 
     

  




<% include footer.html %>